@import "~react-vis/dist/style.css";

.grow {
    transition: 0.5s ease;
}

.grow:hover {
    -webkit-transform: scale(0.92);
    -ms-transform: scale(0.92);
    transform: scale(0.92);
    transition: 0.5s ease;
}

.link-light {
    color: #e5e5e6;
    text-decoration: underline;
}

.link-light:hover {
    color: #78a388;
    text-decoration: none;
}